.login-right {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
input[type="text"], input[type="password"], input[type="email"]  {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-sizing: border-box;
}

.email-input-div, .pass-input-div {
    background-color: yellow;
}

.remember-div {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-left:20px;
}
input[type="checkbox"] {
    margin-right: 10px;
    justify-content: right;
}
.forgot-pass-link {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    text-align: right;
}
.login-center-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.login-center-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #2693f4;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.button-login{
    margin-right: 10px;
}
.button-google{
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.button-google img {
    width: 20px; 
    height: 20px; 
    object-fit: contain; /* imagem seja redimensionada mantendo suas proporções */
}
