/* Estilos gerais para o container principal */
.container {
  min-height: 90vh; /* Ajustado para ocupar menos espaço vertical */
  background: #f9f9f9; /* Mudança de cor de fundo para algo mais claro */
  max-width: 1200px;
  padding: 20px; /* Reduzido para um espaçamento menor */
  margin: 0 auto;
}

/* Estilos para o contêiner de botões */
.button-container {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
}

/* Estilos para o contêiner de pesquisa */
.search-container {
  margin-bottom: 30px;
}

/* Estilos para o título dentro do contêiner de pesquisa */
.search-container h1 {
  margin-bottom: 30px;
}
