body {
	display: flex;
	justify-content: center; /* Centra horizontalmente */
	align-items: center; /* Centra verticalmente */
	min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana */
	margin: 0; /* Elimina los márgenes predeterminados */
}

.profissional-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.profissional-item {
    flex-basis: calc(50% - 20px); /* Ajusta a largura de cada item para ocupar metade do espaço disponível */
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.profissional-item:last-child {
    border-bottom: none;
}
