.div-body{
    background-color: #e3f4ff;
    height: 100vh;
}
.img-autismo{
    margin-top: 50px;
    width: 60%;
    height: 80%;
}
.imagem{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-abordagem{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px 40px 90px 40px;
}	


