.posts {
    transition: transform 150ms ease-in-out;
    cursor: pointer;
}
  
.post-content:hover {
  transform: translateY(-5px); /* Efeito de elevação suave */
}

.post-content {
  padding: 20px; /* Reduzido para um espaçamento menor */
  background-color: #4281ac;
  border-radius: 5px;
}

.post-content h1 {
  color: #e3f4ff;
}

.post img {
  width: 100%;
  height: auto; /* Garante proporção da imagem */
}
