.body-sobre{
    background-color:rgba(191, 46, 33, 0.5);
    width: 100%;
    height: 500px;
    margin-top: 20px;
    display: flex;
    margin-bottom: 60px;
}
.bola{
    width: 143px;
    height: 142px;
    margin: 20px;
}

.titulo-sobre{
    font-size: 40pt;
}
.texto-sobre{
    color: white;
    width: 850px;
}
.conteudo-sobre{
    font-size: 20pt;
    font-weight: bold;
}